.pictures {
    width:350px;
    height:380px;
    border-top-left-radius:15px;
    border:2px solid black;
    border-top-right-radius:15px;
    opacity: 85%;
}

.pictures:hover {
    cursor: pointer;
    width:352px;
    opacity: 100%;
}



a:hover {
    color: white;
}
.hide {
    display: none;
}


.card {
    width:350px;
    border-radius: 15px;
    border:2px solid black;
    height:auto;
}

.buttonColor {
    background: black;
    color:white;
    border-radius: 2px solid white;
}
.buttonColor:hover{
    background: green;
    cursor: pointer;
}

.backgroundHeader {
    background: rgba(12, 3, 3, 0.89);
    font-family: 'Roboto Mono', monospace;
    border:2px solid white;
    border-radius: 5px;
}


.customBt {
    color:Black;
}

.alert.alert-danger {
    padding:40px;
    font-size:30px;
    margin-top:70px;
}